APScheduler==3.10.1
fastapi==0.100.0
pandas==2.0.2
psycopg2_binary==2.9.6
pydantic==1.10.9
python-dotenv==1.0.0
Requests==2.31.0
setuptools==65.5.0
gspread==5.10.0
gspread-dataframe==3.3.1
xgboost
scikit-learn
uvicorn
oauth2client